# Backend
PORT=3001
CONTRACT_ID=CCYDMK3BVXFDNJVORCXHY5ZGTDACQG5HHKFDQ4PCECCU4SEYNZGEJT5E
HORIZON_URL=https://horizon-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
POLL_INTERVAL=5
RPC_URL=https://soroban-testnet.stellar.org

# Deployment
FUNDING_SECRET=SCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DEPLOYER_ADDRESS=GCG5DOV4HMZT73OWJMZCUTHTWP3PQYC2S3GNOARUGPTPVH2IAR6REWQN
CAMPAIGN_OWNER=GCG5DOV4HMZT73OWJMZCUTHTWP3PQYC2S3GNOARUGPTPVH2IAR6REWQN
CAMPAIGN_GOAL=10000000000
