# Backend
PORT=3001
CONTRACT_ID=
HORIZON_URL=https://horizon-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
POLL_INTERVAL=5
RPC_URL=https://soroban-testnet.stellar.org

# Deployment
FUNDING_SECRET=SCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DEPLOYER_ADDRESS=GCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CAMPAIGN_OWNER=GCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CAMPAIGN_GOAL=10000000000
